---
layout: archive
permalink: /year-archive-publications/
title: "Publications"
author_profile: true
redirect_from:
  - /wordpress/publications/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for plub in site.publications %}
  {% capture year %}{{ plub.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle"> Annee {{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
