{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<style>
  .hiddentext {
      padding: 10px;
      display: none;
      border: 0.5px solid rgb(127, 71, 127); /* Set border width and color */
      border-radius:5px;
      font-family: "Arial Narrow"; /* Set the font family */
      font-size: 16px; /* Set the font size */
    } 
    .title {
      font-family: "Arial Narrow"; /* Set the font family */
      font-size: 20px; /* Set the font size */
      /* font-weight: bold; */
      /* color: #816060; */
      color: rgb(105, 101, 69);
      
      
    }
    a {
      text-decoration: none;
      color: #0077cc; /* Set the link color */
    }

    /* Optional: Add different styles when the link is hovered or focused */
    a:hover,
    a:focus {
      text-decoration: none;
      color:rgb(127, 71, 127);
    }
    
</style>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <!-- <li> -->
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline" style="margin-top: 0px;">
      {% if post.link %}
        <a href="{{ post.link }}" class = "title" style="text-decoration: none;">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink" class = "title" style="text-decoration: none; margin-top: 0px;">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.read_time %}
      
    <p class="page__meta">
      <i class="fa fa-clock-o" aria-hidden="true"></i> 
      {% include read-time.html %}
    </p>
    {% endif %}
    {% if post.venue%}
    <p class="archive__item-excerpt" itemprop="description" style="font-family: Arial Narrow; font-size: 15px;">
      {{ post.citation }}
    </p> 
    {% endif %}
    <!-- </li> -->
 </article>
</div>
