---
layout: default
---
<style>
  .hiddentext {
      padding: 10px;
      display: none;
      border: 0.5px solid #650c5f; /* Set border width and color */
      border-radius:5px;
      font-family: "Arial Narrow"; /* Set the font family */
      font-size: 16px; /* Set the font size */
    } 
    .title {
      font-family: "Arial Narrow"; /* Set the font family */
      font-size: 30px; /* Set the font size */
      font-weight: bold;
      color: #804f80;
    }
    a {
      text-decoration: none;
      color: #0077cc; /* Set the link color */
    }

    /* Optional: Add different styles when the link is hovered or focused */
    a:hover,
    a:focus {
      text-decoration: underline;
    }
    
</style>
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
